body{
    min-height: 325vh;
    max-width: 2000px;
    margin: 0 auto;
    border: 3px solid black;
    background:lightskyblue;
}

h1{
    text-align:center
}

img{
    min-height: 500px;
    max-width: 2000px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

table{
    border: 3px black solid;
    border-collapse:collapse;
    text-align: center;
    font-family:'Trebuchet MS' ,'Lucida san';
    font-size:40px;
}
td{
    border: 3px black solid;
    border-collapse:collapse;
    text-align: center;
    font-family:'Trebuchet MS' ,'Lucida san';
    font-size:40px;
}

th{
    border: 3px black solid;
    border-collapse:collapse;
    text-align: center;
    font-family:'Trebuchet MS' ,'Lucida san';
    font-size:40px;
}

caption{
    border: 3px black solid;
    border-collapse:collapse;
    text-align: center;
    font-family: 'Trebuchet MS' ,'Lucida san';
    font-size:40px;
}

ul{
    border: 3px black solid;
    border-collapse:collapse;
    text-align: center;
    font-family: 'Trebuchet MS' ,'Lucida san';
    font-size:35px;
}

ol{
    border: 3px black solid
    ;border-collapse:collapse;
    text-align: center;
    font-family: 'Trebuchet MS' ,'Lucida san';
    font-size:35px;
}

li{
    border: 3px black solid;
    border-collapse:collapse;
    text-align: center;
    font-family: 'Trebuchet MS' ,'Lucida san';
    font-size:35px;
}